Repository mateusz-kurowskiUG/AI_Contacts_app: changes, and which lefthook commands are due for each by the changed paths.
All: check-frontend, check-backend

check-frontend:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
  stage_fixed: true

check-backend:
  run: uvx ruff check --fix --output-format=github {staged_files}
  stage_fixed: true

fix: fix nginx conf
  frontend/conf/nginx.conf
Due: none

fix: queries
  backend/src/api/chat.py
  backend/src/api/contacts.py
  frontend/conf/nginx.conf
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
Due: check-frontend, check-backend

fix: update CMD in Dockerfile to use uvicorn for running FastAPI
  backend/Dockerfile
Due: none

update python env
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: update CMD in Dockerfile to include worker count and remove unnecessary volume mapping in docker-compose feat: add production environment variables for API URL
  backend/Dockerfile
  compose.prod.yml
  swe-requests/environments/prod.bru
Due: none

feat: restructure Docker Compose setup and update environment variables; enhance chat form and history components
  compose.dev.yml
  frontend/.env.development
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
  frontend/src/components/features/chat/ChatForm/data.ts
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/RootLayout.tsx
  frontend/src/index.css
  frontend/src/pages/HomePage.tsx
Due: check-frontend

fix: improve scrolling behavior in ChatHistory component
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
Due: check-frontend

fix: remove unnecessary styles from Header component
  frontend/src/components/layout/Header.tsx
Due: check-frontend

refactor: clean up Header and RootLayout components for improved readability
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/RootLayout.tsx
Due: check-frontend

fix: ensure typing state is correctly managed in ChatForm and ChatHistory components
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
Due: check-frontend

feat: update environment files and add favicon for improved app branding
  frontend/.env.development
  frontend/.env.example
  frontend/.env.production
  frontend/index.html
  frontend/public/favicon.svg
Due: none

feat: integrate ContactForm into ContactsSideBar for adding new contacts
  frontend/src/components/features/contacts/ContactForm/ContactForm.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
Due: check-frontend

refactor: improve layout structure and tooltip content in ContactsSideBar component
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
Due: check-frontend

feat: implement search functionality in ContactsSideBar for filtering contacts
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
Due: check-frontend

feat: add hello endpoint and improve contact update methods; enhance contact service with search and statistics features
  backend/src/api/chat.py
  backend/src/api/contacts.py
  backend/src/config/config.py
  backend/src/db/Contact.py
  backend/src/services/contact_service.py
  compose.dev.yml
Due: check-backend

feat: add hello message functionality and update contact API; implement getHelloMessage and updateContact methods
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
  frontend/src/components/features/contacts/ContactForm/ContactForm.tsx
  frontend/src/components/layout/SideBarContactIem.tsx
  frontend/src/queries/chat.ts
  frontend/src/queries/contacts.ts
Due: check-frontend

feat: add dropdown menu component and integrate theme toggle
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/providers/GlobalProviders.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/mode-toggle.tsx
  frontend/src/components/ui/theme-provider.tsx
Due: check-frontend

feat: enhance ChatHistory with typing indicator and improve hello message handling; update SideBarContactIem for better contact color assignment and tooltip display
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/SideBarContactIem.tsx
Due: check-frontend

feat: update ContactOut schema to use from_attributes for ORM compatibility
  backend/src/db/schemas.py
Due: check-backend

feat: add Alembic configuration and migration setup; update Docker compose files for database and application startup
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/4c4ee7e905bc_initial_contact_table.py
  backend/pyproject.toml
  backend/src/main.py
  backend/uv.lock
  compose.dev.yml
  compose.prod.yml
Due: check-backend

refactor: remove alembic migration logic from lifespan function; simplify startup process
  backend/src/main.py
Due: check-backend

refactor: reorganize Docker Compose services; separate migration and backend startup processes
  compose.prod.yml
Due: none

feat: add createdAt migration
  backend/alembic/versions/19d1b92d8ff2_add_contact_table_with_createdat.py
Due: check-backend

feat: add proper initial migration
  backend/alembic/versions/19d1b92d8ff2_add_contact_table_with_createdat.py
  backend/alembic/versions/4c4ee7e905bc_initial_contact_table.py
  backend/alembic/versions/a4b83b1ac556_create_initial_contacts_table.py
Due: check-backend

refactor: improve ChatForm layout and add keyboard shortcut for sending messages; enhance validation messages
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
  frontend/src/components/features/chat/ChatForm/data.ts
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/RootLayout.tsx
  frontend/src/index.css
  frontend/src/pages/HomePage.tsx
Due: check-frontend

feat: add migration service to Docker Compose; enhance chat message validation and error handling
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/src/db/schemas.py
  backend/uv.lock
  compose.dev.yml
  compose.yml
Due: check-backend

refactor: improve layout and styling of ContactsSideBar and Header components; enhance sidebar functionality and keyboard shortcuts
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/index.css
Due: check-frontend

feat(chat): enhance chat form functionality and validation
  backend/src/api/contacts.py
  backend/src/config/config.py
  backend/src/db/Contact.py
  backend/src/services/contact_service.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
  frontend/src/components/features/chat/ChatForm/data.ts
  frontend/src/components/features/contacts/ContactForm/ContactForm.tsx
  frontend/src/components/features/contacts/ContactForm/validators.ts
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/SideBarContactIem.tsx
  frontend/src/components/ui/phone-input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/scroll-area.tsx
  swe-requests/chat/hello.bru
  swe-requests/chat/shor message.bru
  swe-requests/contacts/07-get-contact-not-found.bru
Due: check-frontend, check-backend

fix: swagger version
  backend/src/main.py
Due: check-backend

feat: basic readme
  README.md
Due: none

refactor(sidebar): clean up imports and improve code formatting
  frontend/src/components/ui/sidebar.tsx
Due: none

feat(chat): update greeting message in get_hello_message endpoint
  README.md
  backend/src/api/chat.py
Due: check-backend

refactor(chat): improve hello message fetching logic and add cancellation handling
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
Due: check-frontend

refactor(docker): reorganize service definitions for db and nginx in compose files
  compose.dev.yml
  compose.prod.yml
  compose.yml
Due: none

refactor(chat): replace mutation with query for fetching hello message and simplify logic
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
Due: check-frontend

refactor(main): restructure rendering to include background gradient and layout wrapper
  frontend/src/main.tsx
Due: check-frontend

refactor(init): load environment variables from .env.local with override
  backend/src/__init__.py
Due: check-backend

refactor(docker): comment out backend and nginx service definitions in compose file
  compose.dev.yml
Due: none

feat(contacts): add contact form and sidebar actions components
  frontend/src/components/features/contacts/ContactForm.tsx
  frontend/src/components/features/contacts/ContactSidebarItemActions.tsx
  frontend/src/components/features/contacts/DeleteContactButton.tsx
  frontend/src/components/features/contacts/EditContactButton.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/SideBarContactItem/SideBarContactIem.tsx
  frontend/src/components/layout/SideBarContactItem/data.ts
Due: check-frontend

feat(contacts): implement EditContactDialog and update sidebar to use it; remove old EditContactButton
  frontend/src/components/features/contacts/DeleteContactButton.tsx
  frontend/src/components/features/contacts/EditContactButton.tsx
  frontend/src/components/features/contacts/EditContactDialog.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/SideBarContactItem/SideBarContactIem.tsx
  frontend/src/components/ui/alert.tsx
Due: check-frontend

Path conditions:
  check-frontend: any of: frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/ and not (frontend/src/components/ui/**, frontend/src/lib/**)
  check-backend: any of: backend/**/*.py and ^backend/
