Repository mateusz-kurowskiUG/AI_Contacts_app: changes, and which lefthook commands are due for each by the changed paths.
All: check-frontend, check-backend

lefthook.yml:

pre-commit:
  commands:
    check-frontend:
      glob:
        - "frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
      root: frontend
    check-backend:
      glob: "backend/**/*.py"
      run: uvx ruff check --fix --output-format=github {staged_files}
      stage_fixed: true
      root: backend

pre-push:
  commands:
    check-frontend:
      glob:
        - "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --config-file=./frontend/biome.json --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
    check-backend:
      glob: "backend/**/*.py"
      run: uvx ruff check --output-format=github {push_files}

feat: docker compose
  .github/workflows/main.yml
  .gitignore
  compose.yml
  db/.env.example
  frontend/biome.json
  frontend/bun.lock
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  lefthook.yml
  swe-requests/01-health-check.bru
  swe-requests/02-create-contact.bru
  swe-requests/03-create-contact-duplicate.bru
  swe-requests/04-get-all-contacts.bru
  swe-requests/05-get-contacts-paginated.bru
  swe-requests/06-get-contact-by-id.bru
  swe-requests/07-get-contact-not-found.bru
  swe-requests/08-update-contact.bru
  swe-requests/09-update-contact-not-found.bru
  swe-requests/10-create-second-contact.bru
  swe-requests/11-update-contact-duplicate.bru
  swe-requests/12-delete-contact.bru
  swe-requests/13-delete-contact-not-found.bru
  swe-requests/14-verify-contact-deleted.bru
  swe-requests/15-create-contact-invalid.bru
  swe-requests/README.md
  swe-requests/bruno.json
  swe-requests/environments/dev.bru
Due: check-frontend

fix: tsconfig
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
Due: check-frontend

fix: workflow
  .github/workflows/main.yml
  README.md
  bun.lock
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  lefthook.yml
  package-lock.json
Due: check-frontend

feat: add tailwindcss
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/vite.config.ts
Due: check-frontend

feat: add react router
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
Due: check-frontend

feat: add react router
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/main.tsx
Due: check-frontend

feat: add react router
  frontend/src/main.tsx
Due: check-frontend

feat: split CI into separate files, add routing
  .github/workflows/backend.yml
  .github/workflows/fontend.yml
  .github/workflows/main.yml
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/main.tsx
Due: check-frontend

fix: frontend CI
  .github/workflows/fontend.yml
  frontend/package.json
Due: check-frontend

fix: frontend CI
  .github/workflows/fontend.yml
Due: none

fix: correct working directory path for pnpm installation
  .github/workflows/fontend.yml
Due: none

fix: correct working directory path in frontend CI configuration
  .github/workflows/fontend.yml
Due: none

fix: update pnpm setup in frontend CI configuration
  .github/workflows/fontend.yml
Due: none

fix: add pnpm lockfile for lefthook dependencies
  package-lock.json
  pnpm-lock.yaml
Due: none

feat: implement layout structure with header, sidebar, and routing; add react-query for data fetching
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/RootLayout.tsx
  frontend/src/components/layout/SideBar.tsx
  frontend/src/components/providers/GlobalProviders.tsx
  frontend/src/components/providers/QueryProvider.tsx
  frontend/src/main.tsx
  frontend/src/pages/ErrorPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/queries/contacts.ts
  frontend/src/routes/index.tsx
Due: check-frontend

refactor: reorganize imports and enhance FastAPI app configuration; remove unnecessary comments in docker-compose
  backend/main.py
  compose.yml
Due: none

feat: add VSCode settings for Python development environment
  .vscode/settings.json
Due: none

feat: add button component with variants and utility functions; update configuration files and styles
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: check-frontend

update bruno requests
  frontend/src/main.tsx
  frontend/vite.config.ts
  swe-requests/01-health-check.bru
  swe-requests/chat/folder.bru
  swe-requests/chat/hello.bru
  swe-requests/contacts/02-create-contact.bru
  swe-requests/contacts/03-create-contact-duplicate.bru
  swe-requests/contacts/04-get-all-contacts.bru
  swe-requests/contacts/05-get-contacts-paginated.bru
  swe-requests/contacts/06-get-contact-by-id.bru
  swe-requests/contacts/07-get-contact-not-found.bru
  swe-requests/contacts/08-update-contact.bru
  swe-requests/contacts/09-update-contact-not-found.bru
  swe-requests/contacts/10-create-second-contact.bru
  swe-requests/contacts/11-update-contact-duplicate.bru
  swe-requests/contacts/12-delete-contact.bru
  swe-requests/contacts/13-delete-contact-not-found.bru
  swe-requests/contacts/14-verify-contact-deleted.bru
  swe-requests/contacts/15-create-contact-invalid.bru
  swe-requests/contacts/folder.bru
Due: check-frontend

feat: add new HTTP request files for 'just message' and 'valid add' with structured content
  swe-requests/chat/just message.bru
  swe-requests/chat/valid add.bru
Due: none

Refactor backend structure and integrate Google GenAI
  backend/db/__init__.py
  backend/db/crud.py
  backend/main.py
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/api/__init__.py
  backend/src/api/chat.py
  backend/src/api/contacts.py
  backend/src/config/config.py
  backend/src/db/Contact.py
  backend/src/db/__init__.py
  backend/src/db/db.py
  backend/src/db/schemas.py
  backend/src/main.py
  backend/src/model/gemini.py
  backend/src/services/chat_service.py
  backend/src/services/contact_service.py
  backend/uv.lock
Due: check-backend

feat: add frontend CI pipeline and update biome configuration for file inclusion
  .github/workflows/frontend.yml
  frontend/biome.json
Due: check-frontend

fix: correct file inclusion patterns in biome configuration
  frontend/biome.json
Due: check-frontend

Refactor imports and update TypeScript configuration
  frontend/src/components/features/contacts/ContactForm/ContactForm.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/ui/audio-visualizer.tsx
  frontend/src/components/ui/chat.tsx
  frontend/src/components/ui/markdown-renderer.tsx
  frontend/src/components/ui/message-input.tsx
  frontend/src/hooks/use-autosize-textarea.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: check-frontend

feat: add Docker support for frontend and backend, including CI workflows and .dockerignore files
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  backend/.dockerignore
  backend/Dockerfile
  compose.yml
  conf/Caddyfile
  frontend/.dockerignore
  frontend/Dockerfile
Due: none

fix: update .gitignore to include .env.local file
  .gitignore
Due: none

feat: add context for Docker build and push in frontend and backend workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

feat: enhance Docker setup and configuration for frontend and backend, including new environment files and Nginx configuration
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .gitignore
  backend/.env.example
  backend/.gitignore
  compose.yml
  conf/Caddyfile
  frontend/.env.development
  frontend/.env.example
  frontend/.env.production
  frontend/.gitignore
  frontend/Dockerfile
  nginx/config.conf
Due: none

fix: remove unnecessary network configuration from nginx service in Docker Compose
  compose.yml
Due: none

feat: production compose
  compose.prod.yml
Due: none

fix: remove nginx copy in frontend dockerfile
  frontend/Dockerfile
Due: none

fix: update SQLAlchemy connection execution to use text() for improved compatibility
  backend/src/db/db.py
Due: check-backend

refactor: restructure getContacts function to return a more structured response
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/queries/contacts.ts
Due: check-frontend

refactor: update chat router variable name for consistency; enhance getContacts return type
  backend/src/api/chat.py
  backend/src/main.py
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/queries/contacts.ts
Due: check-frontend, check-backend

fix: update nginx configuration to correctly proxy API requests
  frontend/Dockerfile
  frontend/conf/nginx.conf
Due: none

fix: remove unnecessary volume mapping for nginx configuration
  compose.prod.yml
Due: none

fix: correct API proxy path in nginx configuration and update docker-compose for backend build context
  compose.prod.yml
  compose.yml
  frontend/conf/nginx.conf
Due: none
