Repository mateusz-kurowskiUG/AI_Contacts_app: changes, and which lefthook commands are due for each by the changed paths.
All: check-frontend, check-backend

lefthook.yml:

pre-commit:
  commands:
    check-frontend:
      glob:
        - "frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude:
        - "frontend/src/components/ui/**"
        - "frontend/src/lib/**"

      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
      root: frontend
    check-backend:
      glob: "backend/**/*.py"
      run: uvx ruff check --fix --output-format=github {staged_files}
      stage_fixed: true
      root: backend

pre-push:
  commands:
    check-frontend:
      glob:
        - "frontend/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude:
        - "frontend/src/components/ui/**"
        - "frontend/src/lib/**"
      run: npx @biomejs/biome check   --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
      root: frontend

    check-backend:
      glob: "backend/**/*.py"
      run: uvx ruff check --output-format=github {push_files}

refactor(layout): add dynamic background gradient to RootLayout and clean up main rendering
  frontend/src/components/layout/RootLayout.tsx
  frontend/src/main.tsx
Due: check-frontend

feat(contacts): refactor contact editing by removing EditContactDialog and integrating ContactForm directly in SideBarContactItem
  frontend/src/components/features/contacts/ContactForm.tsx
  frontend/src/components/features/contacts/EditContactDialog.tsx
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/SideBarContactItem/SideBarContactIem.tsx
Due: check-frontend

refactor(chat): streamline message handling and improve error feedback in ChatForm and ChatHistory components
  frontend/src/components/features/chat/ChatForm/ChatForm.tsx
  frontend/src/components/features/chat/ChatHistory/ChatHistory.tsx
Due: check-frontend

feat(dependencies): add phonenumbers and pydantic-extra-types packages; update pyproject.toml and uv.lock
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/src/config/config.py
  backend/src/db/schemas.py
  backend/src/main.py
  backend/src/services/chat_service.py
  backend/uv.lock
  swe-requests/contacts/03-create-contact-duplicate.bru
Due: check-backend

Refactor code structure for improved readability and maintainability
  backend/pyproject.toml
  backend/src/api/contacts.py
  backend/src/config/config.py
  backend/src/config/tools.py
  backend/src/db/schemas.py
  backend/src/model/gemini.py
  backend/src/model/mcp_server.py
  backend/src/services/chat_service.py
  backend/src/services/contact_service.py
  backend/uv.lock
Due: check-backend

feat(contacts): implement contact model and service; enhance API responses with enums
  backend/src/api/contacts.py
  backend/src/api/responses.py
  backend/src/db/db.py
  backend/src/db/models/Contact.py
  backend/src/db/schemas.py
  backend/src/services/contact_service.py
Due: check-backend

refactor(models): move Base class definition into Contact.py for improved organization
  backend/src/db/models/Contact.py
  backend/src/main.py
Due: check-backend

fix(nginx): correct proxy_pass URL by adding trailing slash for proper routing
  frontend/conf/nginx.conf
Due: none

feat(env): update environment variables in .env files and add GOOGLE_MODEL_ID
  backend/.env.development
  backend/.env.example
  frontend/.dockerignore
  frontend/Dockerfile
Due: none

feat(api): update LLM endpoint to include '/api' prefix for consistency in routing
  backend/src/main.py
Due: check-backend

feat(mpc_client): update MCP client URL to include '/api' prefix for consistency
  backend/src/services/mpc_client.py
Due: check-backend

chore(docker): update Dockerfile to use 'python:3.13-slim-trixie' and adjust uv copy command; add .env files to .dockerignore
  backend/.dockerignore
  backend/Dockerfile
  backend/__init__.py
Due: none

fix(docker): update CMD in Dockerfile to use correct module path for FastAPI
  backend/Dockerfile
  backend/__init__.py
Due: none

feat(sidebar): enhance layout and interaction for contact items in sidebar
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
  frontend/src/components/layout/SideBarContactItem/SideBarContactIem.tsx
Due: check-frontend

feat(sidebar): update tooltip styles for better visibility and interaction
  frontend/src/components/layout/SideBarContactItem/SideBarContactIem.tsx
  frontend/src/index.css
Due: check-frontend

feat(contacts): add sorting functionality to contacts list with toggle button
  frontend/src/components/layout/ContactsSideBar/ContactsSideBar.tsx
Due: check-frontend

feat(docker): update Docker configurations to use stack.env and add Redis service
  .gitignore
  compose.dev.yml
  compose.local.yml
  compose.prod.yml
  redis/conf.conf
  stack.example.env
Due: none

feat: add animated star backgrounds and motion highlight components
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/animate-ui/backgrounds/stars.tsx
  frontend/src/components/animate-ui/effects/motion-highlight.tsx
  frontend/src/components/animate-ui/icons/icon.tsx
  frontend/src/components/animate-ui/icons/trash-2.tsx
  frontend/src/components/layout/RootLayout.tsx
Due: check-frontend

fix: add biome ignore comments for explicit 'any' usage in motion-highlight and icon components
  frontend/src/components/animate-ui/effects/motion-highlight.tsx
  frontend/src/components/animate-ui/icons/icon.tsx
Due: check-frontend

feat: enhance Docker workflows with caching and improved build steps
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

feat: add phone number validation and response handling in contact management
  backend/README.md
  backend/src/api/responses.py
  backend/src/config/config.py
  backend/src/db/models/Contact.py
  backend/src/db/schemas.py
  backend/src/mcp/tools/contact.py
  backend/src/mcp/tools/schema.py
Due: check-backend

fix: clarify phone number format requirements in system instructions
  backend/src/config/config.py
Due: check-backend

refactor: remove unused phone number regex and update descriptions in contact tools
  backend/src/db/schemas.py
  backend/src/mcp/tools/contact.py
  backend/src/utils/phone.py
Due: check-backend

fix: update minimum height class for consistent layout styling
  frontend/src/components/layout/RootLayout.tsx
Due: check-frontend
